<div class="container">
  <h1 class="stroke" hidden>Hey Micha.</h1>
</div>

</div>
    <video id="awesome_video" autoplay loop muted>
      <source src="https://s3.amazonaws.com/stephenitis/SlowLeavesWebm.webm" type="video/mp4">
        <source src="http://stephenitis.com/movie.webm" type="video/mp4">
        <source src="https://s3.amazonaws.com/stephenitis/SlowLeavesH264.mp4" type="video/mp4">
        <source src="http://stephenitis.com/movie.ogv" type="video/mp4">
    </video>
</div>

