<div class="container">
  <h1 class="stroke" hidden>Gonna Try and see if this effect works again.</h1>
</div>

<video id="awesome_video" class="" controls autoplay loop muted
  data-setup="{ "controls": false, "autoplay": false, "preload": "auto" }">
 <source src="http://d86ht76xto4lr.cloudfront.net/SlowLeavesH264.mp4" type='video/mp4' />
 <source src="http://d86ht76xto4lr.cloudfront.net/SlowLeavesWebm.webm" type="video/webm" type='video/webm' />
 <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
</video>
