<!DOCTYPE html>
<html>
<head>

  <link href='http://fonts.googleapis.com/css?family=Ruthie' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//vjs.zencdn.net/4.2/video-js.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/4.2/video.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<title>Stephen programs</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
